@media screen and (max-width: 576px) {
    .nav-container{
        flex-direction: column;
        height: 30vh;
        /* gap: -50px; */
    }
    .main-container{
        margin: 0 auto;
    }
    .nav-items{
        display: flex;
        flex-direction: column;
        margin: 0px auto;
        gap: 10px;
        
        /* justify-content: center; */
    }
    .nav-items a{
        /* padding-top: 10px; */
        
        
    }
    .follow {
        /* border: 1px solid aquamarine; */
        padding: 5px 10px 5px 5px;
        border-radius: 0.5rem;
        background: rgba(11, 2, 35, 0.10);
        width: 120px;
    }
}